.form-user {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-user input, .form-user textarea {
    width: 100%;
    border: none;
    background-color: #bababa;
    border-radius: 4px;
    padding: 5px;
}

.form-user input {
    height: 30px;
}

.form-user input:focus, .form-user textarea:focus {
    outline: none;
}

.form-user button {
    height: 30px;
    border-radius: 4px;
    background-color: #3dd26a;
    border: none;
}

.form-user button:hover {
    background-color: #38b05c;
    transition: .6s;
}

.name-mail {
    display: flex;
    align-items: center;
    background-color: #bababa;
    padding: 5px;
    border-radius: 4px;
}

/* .name-mail img {
    width: 30px;
    height: 30px;
} */

.form-user input[type=email] {
    margin-left: 5px;
}